ENV=local
SKIP_AWS_SECRETS=1

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AUTH0_API_AUDIENCE=
AUTH0_MANAGEMENT_CLIENT_ID=
AUTH0_MANAGEMENT_CLIENT_SECRET=
AUTH0_MANAGEMENT_AUDIENCE=
AUTH0_EMAIL_CLAIM=
AUTH0_HTTP_TIMEOUT=5
GEE_PRIVATE_KEY_JSON='{}'
