ENV=local

DJANGO_ALLOWED_HOSTS = localhost,127.0.0.1
DJANGO_SECRET_KEY = "django-insecu-rtkey-for-dev-@#&!$-"
DJANGO_DEBUG = True
DJANGO_CSRF_TRUSTED_ORIGINS = https://localhost,http://localhost,http://127.0.0.1,https://127.0.0.1
DB_USERNAME = "postgres"
DB_PASSWORD = "supersecretpassword"
DB_NAME = "app"
DB_HOST = "db"


SOCIAL_AUTH_TRAILING_SLASH = False
SOCIAL_AUTH_AUTH0_DOMAIN = 
SOCIAL_AUTH_AUTH0_KEY = 
SOCIAL_AUTH_AUTH0_SECRET = 
SOCIAL_AUTH_AUTH0_SCOPE = openid,profile,email

SENTINEL_HUB_CLIENT_ID=
SENTINEL_HUB_CLIENT_SECRET=
S3_BUCKET_NAME=wildfire-assessment-dev