[run]
source = wildfire_assessment
omit = 
    */migrations/*
    */tests/*
    */__pycache__/*

[report]
fail_under = 100
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
